.dashboard{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2em;
    gap: 2em;
}

.dashboard_col-1{
    flex:1
}

.dashboard_col-2{
    flex:3;
    display:flex;
    flex-direction: column;
    gap: 2em;
}

.dashboard_col-3{
    flex:6;
    display:flex;
    flex-direction: column;
    gap: 2em;
}